   body {
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       background-color: #ffffff;
   }


   .geom {
       font-family: "Geom", sans-serif;
       font-optical-sizing: auto;
       font-weight: weight;
       font-style: normal;
   }


   .instrument-sans {
       font-family: "Instrument Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: weight;
       font-style: normal;
       font-variation-settings: "wdth" 100;
   }

   .title-box {
       background-color: #D7E2FF;
       padding: 25px 70px;
       border-radius: 15px;
       text-align: center;
       margin-bottom: 40px;
   }

   .welcome-text {
       color: #666;
       font-size: 22px;
       margin: 0%;
       font-weight: normal;
       font-family: "Instrument Sans", sans-serif;
   }

   .brand-text {
       color: #3728FF;
       font-size: 48px;
       margin: 0%;
       font-weight: bold;
       font-family: "Geom", sans-serif;
   }

   .button-group {
       display: flex;
       gap: 25px;
       font-family: "Instrument Sans", sans-serif;
   }


   .btn-card {
       background-color: #D7E2FF;
       text-decoration: none;
       width: 300px;
       height: 200px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       border-radius: 8px;
       transition: transform 0.25s ease;
   }

   .btn-card:hover {
       background-color: #b0c4fc;
       transform: translateY(-8px);
   }

   .btn-card span {
       color: #3728FF;
       font-weight: bold;
       font-size: 20px;
       
   }

   .icon-square {
       font-size: 60px;
       padding: 8px;
       border-radius: 6px;
   }